/* https://tabibitojin.com/css-floating-pounding-button/ */
/* https://qiita.com/swan2pink/items/b9b310cfe4c9ee3fcfa1 */
/* * {
  position: fixed;
  left: 300px;
  top: 300px;
} */

.test {
  transition-property: transform, background, box-shadow, color;
  transition-duration: 2s;
}

.test:hover {
  box-shadow: 3px 3px 3px #8a7070;
  transform: scale(.5);
  background: red;
  color: #8a7070;
}

.hiranan-chaos {
  animation-name: move-func;
  animation-delay: 0s;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  /* アニメーションの動き（徐々に早く徐々に遅く）*/
  animation-iteration-count: infinite;
  /* アニメーションをループさせる */
}

@keyframes move-func {
  0% {
    transform: translate(0, 0) rotate(0deg) rotate3d(1, 1, 1, 90deg);
  }

  25% {
    transform: translate(100px, 50px) rotate(120deg) rotate3d(1, 1, 1, 180deg);
  }

  50% {
    transform: translate(200px, 250px) rotate(290deg);
  }

  75% {
    transform: translate(-100, 50px) rotate(-50deg);
  }

  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}


.hiranan-dokidoki {
  animation-name: dokidoki-any-name;
  /* アニメーション名の指定 */
  animation-delay: 0s;
  /* アニメーションの開始時間指定 */
  animation-duration: 3s;
  /* アニメーション動作時間の指定 */
  animation-timing-function: ease-in-out;
  /* アニメーションの動き（徐々に早く徐々に遅く）*/
  animation-iteration-count: infinite;
  /* アニメーションをループさせる */
}

@keyframes dokidoki-any-name {
  0% {
    transform: scale(1);
  }

  40% {
    transform: scale(1.5);
  }

  50% {
    transform: scale(0.5);
  }

  60% {
    transform: scale(2.0);
  }

  100% {
    transform: scale(1);
  }
}

.chahan-circle {
  animation-name: circle;
  animation-delay: 0s;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes circle {
  0% {
    transform: rotate(0deg)
  }

  40% {
    transform: rotate(360deg)
  }

  50% {
    transform: rotate(540deg)
  }

  70% {
    transform: rotate(720deg)
  }

  80% {
    transform: rotate(540deg)
  }

  100% {
    transform: rotate(360deg)
  }
}


.chahan-fade {
  --max-value: 70% animation-name: fade;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes chahan-fade {
  0% {
    transform: translata(0, 0);
    opacity: 1;
  }

  10% {
    opacity: 0;
  }

  20% {
    transform: translata(100px, 0);
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  40% {
    transform: translata(100px, 100px);
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  60% {
    transform: translata(0, 100px);
    opacity: 1;
  }

  70% {
    opacity: 0;
  }
}

.sinryoku-A {
  animation-name: A-func;
  animation-delay: 0s;
  animation-duration: 3s;
  animation-timing-function: linear(0, 1.32, 0.87, 1.05, 0.98, 1.01, 1, 1);
  animation-iteration-count: infinite;
}

@keyframes A-func {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(100px, 0);
  }

  50% {
    transform: translate(100px, 100px);
  }

  75% {
    transform: translate(0, 100px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.hiranan-right {
  animation-name: hiranan-right-func;
  animation-delay: 0s;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  /* アニメーションの動き（徐々に早く徐々に遅く）*/
  animation-iteration-count: infinite;
  /* アニメーションをループさせる */
}

@keyframes hiranan-right-func {
  0% {
    transform: translate(-500px, 0);
  }

  25% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(500px, 0);
  }

  75% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-500px, 0);
  }
}

.hiranan-Y {
  animation-name: Y-func;
  animation-delay: 0s;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  /* アニメーションの動き（徐々に早く徐々に遅く）*/
  animation-iteration-count: infinite;
  /* アニメーションをループさせる */
}

@keyframes NO-hiranan-right-func {
  0% {
    transform: translateX(-500px);
  }

  5% {
    transform: translateX(-400px);
  }

  10% {
    transform: translateX(-300px);
  }

  15% {
    transform: translateX(-200px);
  }

  20% {
    transform: translateX(-100px);
  }

  25% {
    transform: translateX(0);
  }

  30% {
    transform: translateX(100px);
  }

  35% {
    transform: translateX(200px);
  }

  40% {
    transform: translateX(300px);
  }

  45% {
    transform: translateX(400px);
  }

  50% {
    transform: translateX(500px);
  }

  55% {
    transform: translateX(400px);
  }

  60% {
    transform: translateX(300px);
  }

  65% {
    transform: translateX(200px);
  }

  70% {
    transform: translateX(100px);
  }

  75% {
    transform: translateX(0);
  }

  80% {
    transform: translateX(-100px);
  }

  85% {
    transform: translateX(-200px);
  }

  90% {
    transform: translateX(-300px);
  }

  95% {
    transform: translateX(-400px);
  }

  100% {
    transform: translateX(-500px);
  }
}


@keyframes Y-func {
  0% {
    transform: translate(0, -300px);
  }

  25% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 300px);
  }

  75% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, -300px);
  }
}

@keyframes NO-Y-func {
  0% {
    transform: translateY(-500px);
  }

  5% {
    transform: translateY(-400px);
  }

  10% {
    transform: translateY(-300px);
  }

  15% {
    transform: translateY(-200px);
  }

  20% {
    transform: translateY(-100px);
  }

  25% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(100px);
  }

  35% {
    transform: translateY(200px);
  }

  40% {
    transform: translateY(300px);
  }

  45% {
    transform: translateY(400px);
  }

  50% {
    transform: translateY(500px);
  }

  55% {
    transform: translateY(400px);
  }

  60% {
    transform: translateY(300px);
  }

  65% {
    transform: translateY(200px);
  }

  70% {
    transform: translateY(100px);
  }

  75% {
    transform: translateY(0);
  }

  80% {
    transform: translateY(-100px);
  }

  85% {
    transform: translateY(-200px);
  }

  90% {
    transform: translateY(-300px);
  }

  95% {
    transform: translateY(-400px);
  }

  100% {
    transform: translateY(-500px);
  }
}